In [5]:
import pandas as pd
import numpy as np
import pulp
from ast import literal_eval
from IPython.display import display

In [6]:
data = pd.read_csv('data\MI_vs_RR.csv', converters={"Match_points": literal_eval})
data

,Player,Team,Role,Cost,Match_points
0,Rohit Sharma,MI,BAT,9.5,"[18, 107, 22, 96, 20, 63, 3, 46, 23, 8]"
1,De Kock,MI,WK,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ..."
2,S.Yadav,MI,BAT,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11..."
3,Ishan Kishan,MI,WK,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]"
4,S.Tiwary,MI,BAT,8.0,"[51, 28, 4, 44, 17, 4, 5]"
5,Hardik Pandya,MI,ALL,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]"
6,Kieron Pollard,MI,ALL,8.5,"[25, 51, 101, 62, 43, 36, 16, 12, 47, 4, 18, 3..."
7,Krunal Pandya,MI,ALL,9.0,"[30, 5, 4, 29, 55, 14, 76, 6, 46, 14, 5, 15, 2..."
8,Pattinson,MI,BALL,8.0,"[50, 54, -2, 54, 54, 56, -2, 48, 6, 6]"
9,Rahul Chahar,MI,BALL,9.0,"[37, 54, 29, 54, 12, 29, 10, 58, 54, 56, -2, 3..."
10,Boult,MI,BALL,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35..."
11,Bumrah,MI,BALL,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,..."
12,Coulter-Nile,MI,BALL,8.5,"[23, 40, 29, 29, 5]"
13,Yashasvi Jaiswal,RR,BAT,8.0,"[11, 2, 63]"
14,Steve Smith,RR,BAT,9.5,"[93, 73, 7, 10, 11, 40, 9, 5, 77, 32, 25, 18, ..."
15,Sanju Samson,RR,WK,9.0,"[145, 123, 21, 9, 10, 9, 41, 33, 15, 16, 45, 7..."
16,David Miller,RR,BAT,9.0,[2]
17,Robin Uthappa,RR,BAT,8.5,"[9, 9, 6, 22, 25, 49, 62, 8, 27, 19, 39, 20]"
18,Rahul Tewatia,RR,ALL,8.5,"[88, 79, 45, 34, 18, 98, 65, 27, 59, 41, 6, 4,..."
19,Riyag Parag,RR,ALL,8.0,"[11, 2, 13, 21, 52, 5, 4, 4, 28, 4, 4, 2]"
20,Tom Curran,RR,BALL,7.5,"[42, 30, 97, -2, 16]"
21,Kartik Tyagi,RR,BALL,8.0,"[27, 31, 27, 45, 29, 29, -2, 23, -2, 54]"
22,Jofra Archer,RR,BALL,9.5,"[64, 15, 74, 52, 58, 91, 35, 100, 2, 37, 75, 6..."
23,Shreyas Gopal,RR,BALL,9.0,"[27, 8, 5, 29, 63, 0, 4, 36, 29, 35, 4, 54, 4,..."
24,Jaydev Unadkat,RR,BALL,9.0,"[0, 2, 46, 0, 29, 50, -2]"
25,Jos Buttler,RR,WK,9.5,"[8, 38, 31, 104, 27, 29, 31, 31, 109, 13, 4, 3..."
26,Ankit Rajpoot,RR,BALL,8.5,"[27, 36, 0, 4, 4, -2]"
27,Ben Stokes,RR,ALL,9.5,"[10, 45, 29, 24, 38, 163, 132, 28]"
28,Mahipal Lomror,RR,ALL,7.0,"[58, 16, 5]"

In [7]:
def compute_weighted_points(points_vector, alpha = 0.20):
    
    weights = np.exp(list(reversed(np.array(range(1, len(points_vector)+1))*alpha * -1)))
    exponential_weighted_average = np.average(np.array(points_vector), weights = weights)
    return exponential_weighted_average

data['weighted_player_points'] = data['Match_points'].apply(compute_weighted_points)
data

,Player,Team,Role,Cost,Match_points,weighted_player_points
0,Rohit Sharma,MI,BAT,9.5,"[18, 107, 22, 96, 20, 63, 3, 46, 23, 8]",32.262790
1,De Kock,MI,WK,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ...",53.875599
2,S.Yadav,MI,BAT,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11...",47.336002
3,Ishan Kishan,MI,WK,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]",51.141609
4,S.Tiwary,MI,BAT,8.0,"[51, 28, 4, 44, 17, 4, 5]",17.149272
5,Hardik Pandya,MI,ALL,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]",33.447745
6,Kieron Pollard,MI,ALL,8.5,"[25, 51, 101, 62, 43, 36, 16, 12, 47, 4, 18, 3...",30.501393
7,Krunal Pandya,MI,ALL,9.0,"[30, 5, 4, 29, 55, 14, 76, 6, 46, 14, 5, 15, 2...",17.597841
8,Pattinson,MI,BALL,8.0,"[50, 54, -2, 54, 54, 56, -2, 48, 6, 6]",25.567131
9,Rahul Chahar,MI,BALL,9.0,"[37, 54, 29, 54, 12, 29, 10, 58, 54, 56, -2, 3...",26.899936
10,Boult,MI,BALL,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35...",48.843074
11,Bumrah,MI,BALL,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,...",60.236426
12,Coulter-Nile,MI,BALL,8.5,"[23, 40, 29, 29, 5]",23.075735
13,Yashasvi Jaiswal,RR,BAT,8.0,"[11, 2, 63]",28.931102
14,Steve Smith,RR,BAT,9.5,"[93, 73, 7, 10, 11, 40, 9, 5, 77, 32, 25, 18, ...",28.472015
15,Sanju Samson,RR,WK,9.0,"[145, 123, 21, 9, 10, 9, 41, 33, 15, 16, 45, 7...",40.358010
16,David Miller,RR,BAT,9.0,[2],2.000000
17,Robin Uthappa,RR,BAT,8.5,"[9, 9, 6, 22, 25, 49, 62, 8, 27, 19, 39, 20]",26.805144
18,Rahul Tewatia,RR,ALL,8.5,"[88, 79, 45, 34, 18, 98, 65, 27, 59, 41, 6, 4,...",47.612399
19,Riyag Parag,RR,ALL,8.0,"[11, 2, 13, 21, 52, 5, 4, 4, 28, 4, 4, 2]",9.728287
20,Tom Curran,RR,BALL,7.5,"[42, 30, 97, -2, 16]",32.897463
21,Kartik Tyagi,RR,BALL,8.0,"[27, 31, 27, 45, 29, 29, -2, 23, -2, 54]",25.432616
22,Jofra Archer,RR,BALL,9.5,"[64, 15, 74, 52, 58, 91, 35, 100, 2, 37, 75, 6...",52.373031
23,Shreyas Gopal,RR,BALL,9.0,"[27, 8, 5, 29, 63, 0, 4, 36, 29, 35, 4, 54, 4,...",28.085367
24,Jaydev Unadkat,RR,BALL,9.0,"[0, 2, 46, 0, 29, 50, -2]",19.195289
25,Jos Buttler,RR,WK,9.5,"[8, 38, 31, 104, 27, 29, 31, 31, 109, 13, 4, 3...",38.543804
26,Ankit Rajpoot,RR,BALL,8.5,"[27, 36, 0, 4, 4, -2]",7.798765
27,Ben Stokes,RR,ALL,9.5,"[10, 45, 29, 24, 38, 163, 132, 28]",68.969133
28,Mahipal Lomror,RR,ALL,7.0,"[58, 16, 5]",22.891560

In [8]:
players_data = pd.get_dummies(data, columns=["Role", "Team"])
players_data

,Player,Cost,Match_points,weighted_player_points,Role_ALL,Role_BALL,Role_BAT,Role_WK,Team_MI,Team_RR
0,Rohit Sharma,9.5,"[18, 107, 22, 96, 20, 63, 3, 46, 23, 8]",32.262790,False,False,True,False,True,False
1,De Kock,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ...",53.875599,False,False,False,True,True,False
2,S.Yadav,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11...",47.336002,False,False,True,False,True,False
3,Ishan Kishan,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]",51.141609,False,False,False,True,True,False
4,S.Tiwary,8.0,"[51, 28, 4, 44, 17, 4, 5]",17.149272,False,False,True,False,True,False
5,Hardik Pandya,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]",33.447745,True,False,False,False,True,False
6,Kieron Pollard,8.5,"[25, 51, 101, 62, 43, 36, 16, 12, 47, 4, 18, 3...",30.501393,True,False,False,False,True,False
7,Krunal Pandya,9.0,"[30, 5, 4, 29, 55, 14, 76, 6, 46, 14, 5, 15, 2...",17.597841,True,False,False,False,True,False
8,Pattinson,8.0,"[50, 54, -2, 54, 54, 56, -2, 48, 6, 6]",25.567131,False,True,False,False,True,False
9,Rahul Chahar,9.0,"[37, 54, 29, 54, 12, 29, 10, 58, 54, 56, -2, 3...",26.899936,False,True,False,False,True,False
10,Boult,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35...",48.843074,False,True,False,False,True,False
11,Bumrah,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,...",60.236426,False,True,False,False,True,False
12,Coulter-Nile,8.5,"[23, 40, 29, 29, 5]",23.075735,False,True,False,False,True,False
13,Yashasvi Jaiswal,8.0,"[11, 2, 63]",28.931102,False,False,True,False,False,True
14,Steve Smith,9.5,"[93, 73, 7, 10, 11, 40, 9, 5, 77, 32, 25, 18, ...",28.472015,False,False,True,False,False,True
15,Sanju Samson,9.0,"[145, 123, 21, 9, 10, 9, 41, 33, 15, 16, 45, 7...",40.358010,False,False,False,True,False,True
16,David Miller,9.0,[2],2.000000,False,False,True,False,False,True
17,Robin Uthappa,8.5,"[9, 9, 6, 22, 25, 49, 62, 8, 27, 19, 39, 20]",26.805144,False,False,True,False,False,True
18,Rahul Tewatia,8.5,"[88, 79, 45, 34, 18, 98, 65, 27, 59, 41, 6, 4,...",47.612399,True,False,False,False,False,True
19,Riyag Parag,8.0,"[11, 2, 13, 21, 52, 5, 4, 4, 28, 4, 4, 2]",9.728287,True,False,False,False,False,True
20,Tom Curran,7.5,"[42, 30, 97, -2, 16]",32.897463,False,True,False,False,False,True
21,Kartik Tyagi,8.0,"[27, 31, 27, 45, 29, 29, -2, 23, -2, 54]",25.432616,False,True,False,False,False,True
22,Jofra Archer,9.5,"[64, 15, 74, 52, 58, 91, 35, 100, 2, 37, 75, 6...",52.373031,False,True,False,False,False,True
23,Shreyas Gopal,9.0,"[27, 8, 5, 29, 63, 0, 4, 36, 29, 35, 4, 54, 4,...",28.085367,False,True,False,False,False,True
24,Jaydev Unadkat,9.0,"[0, 2, 46, 0, 29, 50, -2]",19.195289,False,True,False,False,False,True
25,Jos Buttler,9.5,"[8, 38, 31, 104, 27, 29, 31, 31, 109, 13, 4, 3...",38.543804,False,False,False,True,False,True
26,Ankit Rajpoot,8.5,"[27, 36, 0, 4, 4, -2]",7.798765,False,True,False,False,False,True
27,Ben Stokes,9.5,"[10, 45, 29, 24, 38, 163, 132, 28]",68.969133,True,False,False,False,False,True
28,Mahipal Lomror,7.0,"[58, 16, 5]",22.891560,True,False,False,False,False,True

In [9]:
# Initialize the optimization Problem 
prob = pulp.LpProblem('Dreamteam', pulp.LpMaximize)

In [10]:
# selection decision variables can be 0 or 1. The number of `selection_decision_varibales` should be equal to 
# the number of players under consideration
selection_decision_variables = []

In [11]:
for row in players_data.itertuples(index=True):
    variable_name = 'x_{}'.format(str(row.Index))
    variable = pulp.LpVariable(variable_name, lowBound = 0, upBound = 1, cat = 'Integer' ) 
    selection_decision_variables.append({"pulp_variable":variable, "Player": row.Player})
 
selection_decision_variables_df = pd.DataFrame(selection_decision_variables)

merged_players_data_df = pd.merge(players_data, selection_decision_variables_df, on = "Player")
merged_players_data_df["pulp_variable_name"] = merged_players_data_df["pulp_variable"].apply(lambda x: x.name)
display(selection_decision_variables_df)

   pulp_variable            Player
0            x_0      Rohit Sharma
1            x_1           De Kock
2            x_2           S.Yadav
3            x_3      Ishan Kishan
4            x_4          S.Tiwary
5            x_5     Hardik Pandya
6            x_6    Kieron Pollard
7            x_7     Krunal Pandya
8            x_8         Pattinson
9            x_9      Rahul Chahar
10          x_10             Boult
11          x_11            Bumrah
12          x_12      Coulter-Nile
13          x_13  Yashasvi Jaiswal
14          x_14       Steve Smith
15          x_15      Sanju Samson
16          x_16      David Miller
17          x_17     Robin Uthappa
18          x_18     Rahul Tewatia
19          x_19       Riyag Parag
20          x_20        Tom Curran
21          x_21      Kartik Tyagi
22          x_22      Jofra Archer
23          x_23     Shreyas Gopal
24          x_24    Jaydev Unadkat
25          x_25       Jos Buttler
26          x_26     Ankit Rajpoot
27          x_27        Ben Stokes
28          x_28    Mahipal Lomror

In [12]:
total_points = pulp.lpSum(merged_players_data_df["weighted_player_points"] * selection_decision_variables_df["pulp_variable"])
prob += total_points

display(prob)

Dreamteam:
MAXIMIZE
32.26279041111298*x_0 + 53.87559926064666*x_1 + 48.843073592318156*x_10 + 60.23642644988953*x_11 + 23.075735048076602*x_12 + 28.931101783134324*x_13 + 28.472015185089834*x_14 + 40.35800983791884*x_15 + 2.0*x_16 + 26.805144437684138*x_17 + 47.61239863757248*x_18 + 9.72828710589311*x_19 + 47.336002171190984*x_2 + 32.89746257038121*x_20 + 25.432616190785243*x_21 + 52.37303081233747*x_22 + 28.085366761423206*x_23 + 19.195289331809*x_24 + 38.543803931056644*x_25 + 7.798764811396509*x_26 + 68.96913327337366*x_27 + 22.891559601598082*x_28 + 51.141608674420006*x_3 + 17.14927221942746*x_4 + 33.44774473227448*x_5 + 30.501393210864112*x_6 + 17.597841453863442*x_7 + 25.56713145443954*x_8 + 26.899936468694634*x_9 + 0.0
VARIABLES
0 <= x_0 <= 1 Integer
0 <= x_1 <= 1 Integer
0 <= x_10 <= 1 Integer
0 <= x_11 <= 1 Integer
0 <= x_12 <= 1 Integer
0 <= x_13 <= 1 Integer
0 <= x_14 <= 1 Integer
0 <= x_15 <= 1 Integer
0 <= x_16 <= 1 Integer
0 <= x_17 <= 1 Integer
0 <= x_18 <= 1 Integer
0 <= x_19 <= 1 Integer
0 <= x_2 <= 1 Integer
0 <= x_20 <= 1 Integer
0 <= x_21 <= 1 Integer
0 <= x_22 <= 1 Integer
0 <= x_23 <= 1 Integer
0 <= x_24 <= 1 Integer
0 <= x_25 <= 1 Integer
0 <= x_26 <= 1 Integer
0 <= x_27 <= 1 Integer
0 <= x_28 <= 1 Integer
0 <= x_3 <= 1 Integer
0 <= x_4 <= 1 Integer
0 <= x_5 <= 1 Integer
0 <= x_6 <= 1 Integer
0 <= x_7 <= 1 Integer
0 <= x_8 <= 1 Integer
0 <= x_9 <= 1 Integer

In [13]:
# 1 <= n_keeper <= 4 
total_keepers = pulp.lpSum(merged_players_data_df["Role_WK"] * selection_decision_variables_df["pulp_variable"])
prob += (total_keepers >= 1)
prob += (total_keepers <= 4)

In [14]:
# 3 <= n_batsmen <= 6 
total_batsmen = pulp.lpSum(merged_players_data_df["Role_BAT"] * selection_decision_variables_df["pulp_variable"])
prob += (total_batsmen >= 3)
prob += (total_batsmen <= 6)

In [15]:
# 1 <= n_allrounders <= 4
total_allrounders = pulp.lpSum(merged_players_data_df["Role_ALL"] * selection_decision_variables_df["pulp_variable"])
prob += (total_allrounders >= 1)
prob += (total_allrounders <= 4)

In [16]:
# 3 <= n_bowlers <= 6
total_bowlers = pulp.lpSum(merged_players_data_df["Role_BALL"] * selection_decision_variables_df["pulp_variable"])
prob += (total_bowlers >= 3)
prob += (total_bowlers <= 6)

In [17]:
# maximum of 11 players
total_players = pulp.lpSum(selection_decision_variables_df["pulp_variable"])
prob += (total_players == 11)

In [18]:
# maximum fantasy budget of 100
total_cost = pulp.lpSum(merged_players_data_df["Cost"] * selection_decision_variables_df["pulp_variable"])
prob += (total_cost <= 100)

In [19]:
# Check the column names in merged_players_data_df
print(merged_players_data_df.columns)

# Ensure that 'Team_MI' and 'Team_RR' are present in the DataFrame
if 'Team_MI' in merged_players_data_df.columns:
    total_team1 = pulp.lpSum(merged_players_data_df["Team_MI"] * selection_decision_variables_df["pulp_variable"])
    prob += (total_team1 <= 7)

if 'Team_RR' in merged_players_data_df.columns:
    total_team2 = pulp.lpSum(merged_players_data_df["Team_RR"] * selection_decision_variables_df["pulp_variable"])
    prob += (total_team2 <= 7)

Index(['Player', 'Cost', 'Match_points', 'weighted_player_points', 'Role_ALL',
       'Role_BALL', 'Role_BAT', 'Role_WK', 'Team_MI', 'Team_RR',
       'pulp_variable', 'pulp_variable_name'],
      dtype='object')

In [20]:
#display(prob)
#prob.writeLP('Dreamteam.lp')

#assert len(pulp.listSolvers(onlyAvailable=True)) > 0, "solvers not installed correctly - check - https://www.coin-or.org/PuLP/main/installing_pulp_at_home.html"
prob.solve()

1

In [21]:
solutions_df = pd.DataFrame(
    [
        {
            'pulp_variable_name': v.name, 
            'value': v.varValue
        }
        for v in prob.variables()
    ]
)

result = pd.merge(merged_players_data_df, solutions_df, on = 'pulp_variable_name')
result = result[result['value'] == 1].sort_values(by = 'weighted_player_points', ascending = False)
display(result)
#selected_cols_final = ['player_name', 'team_name_CSK', 'team_name_MI', 'weighted_player_points']
#final_set_of_players_to_be_selected = result[selected_cols_final]
#display(final_set_of_players_to_be_selected)

,Player,Cost,Match_points,weighted_player_points,Role_ALL,Role_BALL,Role_BAT,Role_WK,Team_MI,Team_RR,pulp_variable,pulp_variable_name,value
27,Ben Stokes,9.5,"[10, 45, 29, 24, 38, 163, 132, 28]",68.969133,True,False,False,False,False,True,x_27,x_27,1.0
11,Bumrah,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,...",60.236426,False,True,False,False,True,False,x_11,x_11,1.0
1,De Kock,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ...",53.875599,False,False,False,True,True,False,x_1,x_1,1.0
22,Jofra Archer,9.5,"[64, 15, 74, 52, 58, 91, 35, 100, 2, 37, 75, 6...",52.373031,False,True,False,False,False,True,x_22,x_22,1.0
3,Ishan Kishan,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]",51.141609,False,False,False,True,True,False,x_3,x_3,1.0
10,Boult,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35...",48.843074,False,True,False,False,True,False,x_10,x_10,1.0
18,Rahul Tewatia,8.5,"[88, 79, 45, 34, 18, 98, 65, 27, 59, 41, 6, 4,...",47.612399,True,False,False,False,False,True,x_18,x_18,1.0
2,S.Yadav,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11...",47.336002,False,False,True,False,True,False,x_2,x_2,1.0
15,Sanju Samson,9.0,"[145, 123, 21, 9, 10, 9, 41, 33, 15, 16, 45, 7...",40.358010,False,False,False,True,False,True,x_15,x_15,1.0
13,Yashasvi Jaiswal,8.0,"[11, 2, 63]",28.931102,False,False,True,False,False,True,x_13,x_13,1.0
17,Robin Uthappa,8.5,"[9, 9, 6, 22, 25, 49, 62, 8, 27, 19, 39, 20]",26.805144,False,False,True,False,False,True,x_17,x_17,1.0